# Handle Missing Data
- dropna
- fillna

## dropna

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("./file_import/test_missing_data.csv")
df

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,NaN
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,NaN,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",NaN,NaN,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,NaN
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",NaN,NaN,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,NaN
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [6]:
df.dropna() # delete row if values in row is NaN

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [7]:
df.dropna(axis=1) # same above but delete column because axis=1

                 SYMBOL                  SECURITY
0       Cecilia Morales     7662 Old Wagon Street
1             Conner Ho      Millington, TN 38053
2          Zayden Terry        8222 Hillside Ave.
3         Thalia Montes     Hummelstown, PA 17036
4           Lola Hinton            962 Taylor St.
5          Ayana Massey       Rochester, NY 14606
6       Charles Anthony     9820 St Margarets St.
7        Kylee Benjamin      Cookeville, TN 38501
8           Sarah Mayer        368 North Fawn St.
9          Sydnee Silva       La Vergne, TN 37086
10    Jonah Fitzpatrick        8745 Ridgewood St.
11          Ronald Case          Duarte, CA 91010
12          Jane Osborn        8158 Fairway Drive
13  Theodore Hutchinson       Dyersburg, TN 38024
14    Moriah Harrington         251 Crescent Ave.
15         Kasen Rhodes    Allison Park, PA 15101
16            Chaz Moss        22 Peg Shop Street
17        Andreas Walls         Paducah, KY 42001
18           Asa Strong           9273 Court Ave.
19       Kymani Salinas        Gulfport, MS 39503
20        Jaliyah Huang              76 Gates St.
21        Ada Mcfarland   Michigan City, IN 46360
22        Donavan Combs  9637 East Swanson Street
23        Hallie Gamble          Lititz, PA 17543
24        India Huffman            773 Vernon St.

In [8]:
df_1 = pd.read_csv("./file_import/test_missing_data_1.csv")
df_1

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,NaN
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,NaN,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",NaN,NaN,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,NaN
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",NaN,NaN,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,NaN
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,NaN,NaN,NaN,NaN,NaN
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [9]:
df_1.dropna(how="any") # delete any row if values on that row is NaN

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [10]:
df_1.dropna(how="all") # only remove row if all value on that row is NaN

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,NaN
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,NaN,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",NaN,NaN,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,NaN
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",NaN,NaN,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,NaN
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [11]:
df.dropna(subset=["CHANGE"]) # only check value on column CHANGE, if values on that column is NaN, it will drop that column

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,NaN,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",NaN,NaN,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",NaN,NaN,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [12]:
df.dropna(
    #inplace=True 
)
# will drop and replace data frame

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

## fillna

In [13]:
df

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,NaN
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,NaN,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",NaN,NaN,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,NaN
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",NaN,NaN,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,NaN
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [14]:
df.fillna("python") # it will fill python for any field has NaN value

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.95345
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,python
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,python,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.80142
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",python,python,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,python
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",python,python,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,python
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [16]:
df.ffill() # fill NaN value with forward valid value

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,30.049203
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,8356.0,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",1541130.0,87775.0,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,14.853673
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",2448026.0,230048.0,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,10.011751
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [17]:
df.bfill() # fill NaN value with previous valid value

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.953450
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,27.852613
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,73134.0,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.801420
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",600043.0,38574.0,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,12.823425
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",660281.0,65700.0,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,8.569318
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862

In [18]:
df.bfill(axis=1)

,SYMBOL,SECURITY,TODAY_VOLUME,AVG. VOLUME,CHANGE
0,Cecilia Morales,7662 Old Wagon Street,473907.0,9457.0,50.110003
1,Conner Ho,"Millington, TN 38053",5754.0,154.0,37.202586
2,Zayden Terry,8222 Hillside Ave.,304759.0,9248.0,32.95345
3,Thalia Montes,"Hummelstown, PA 17036",21375.0,711.0,30.049203
4,Lola Hinton,962 Taylor St.,110375.0,3879.0,NaN
5,Ayana Massey,"Rochester, NY 14606",232755.0,8356.0,27.852613
6,Charles Anthony,9820 St Margarets St.,162601.0,21.528002,21.528002
7,Kylee Benjamin,"Cookeville, TN 38501",1301892.0,73134.0,17.80142
8,Sarah Mayer,368 North Fawn St.,1541130.0,87775.0,17.557733
9,Sydnee Silva,"La Vergne, TN 37086",16.938733,16.938733,16.938733
10,Jonah Fitzpatrick,8745 Ridgewood St.,600043.0,38574.0,15.555297
11,Ronald Case,"Duarte, CA 91010",46040.0,3012.0,15.283833
12,Jane Osborn,8158 Fairway Drive,60551.0,4076.0,14.853673
13,Theodore Hutchinson,"Dyersburg, TN 38024",142943.0,10391.0,NaN
14,Moriah Harrington,251 Crescent Ave.,1316284.0,102646.0,12.823425
15,Kasen Rhodes,"Allison Park, PA 15101",263641.0,23439.0,11.247963
16,Chaz Moss,22 Peg Shop Street,2448026.0,230048.0,10.641332
17,Andreas Walls,"Paducah, KY 42001",10.443312,10.443312,10.443312
18,Asa Strong,9273 Court Ave.,660281.0,65700.0,10.049914
19,Kymani Salinas,"Gulfport, MS 39503",6864080.0,685602.0,10.011751
20,Jaliyah Huang,76 Gates St.,305594.0,30596.0,NaN
21,Ada Mcfarland,"Michigan City, IN 46360",705322.0,82307.0,8.569318
22,Donavan Combs,9637 East Swanson Street,157496.0,19059.0,8.263313
23,Hallie Gamble,"Lititz, PA 17543",1252606.0,164644.0,7.607959
24,India Huffman,773 Vernon St.,679204.0,89288.0,7.606862